@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font: 400 18px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

form input {
  border: 1px solid #dcdce6;
  border-radius: 8px;;
  color: #333;
  height: 60px;
  padding: 0 24px;
  width: 100%;
}

.button {
  background: #e02041;
  border: 0 none;
  border-radius: 8px;
  color: #FFF;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  height: 60px;
  line-height: 60px;
  margin-top: 16px;
  text-align: center;
  text-decoration: none;
  transition: filter 0.2s;
  width: 100%
}

.button:hover {
  filter: brightness(90%);
}

.back-link {
  align-items: center;
  color: #41414d;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  margin-top: 40px;
  text-decoration: none;
  transition: opacity 0.2s;
}

.back-link svg {
  margin-right: 8px;
}

.back-link:hover {
  opacity: 0.8;
}